<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a Band</title>
  </head>
  <body>
    <a href="{{url_for('allBands', bands=bands)}}">Back to directory</a>

    <h1>New Band</h1>
    <form action="#" method="post">

    <dl>
      <dt>name: </dt>
        <dd><input type="text" size='30' name="name" required></dd>
      <dt>Bio:</dt>
        <dd><textarea name="bio" rows="5" cols="40" required></textarea></dd>
      <dt>Type of music:</dt>
        <dd><input type="radio" name="music" value="rock">Rock</dd>
        <dd><input type="radio" name="music" value="pop">Pop</dd>
        <dd><input type="radio" name="music" value="country">Country</dd>
      <dt>Cover Photo:</dt>
        <dd><input type="text" size='30' value="pic"></dd>
      <dt>Youtube video link:</dt>
        <dd><input type="text" size='30' name="video"></dd>
      <dt>Spotify track link:</dt>
        <dd><input type="text" size='30' name="track"></dd>
      <dt>Spotify album itunes link:</dt>
        <dd><input type="text" size='30' name="album"></dd>
      <dt>Website:</dt>
        <dd><input type="text" size='30' name="website"></dd>
      <dt>email:</dt>
        <dd><input type="text" name="email" size='30'></dd>
      <dt>Social Media:</dt>
        <dd><input type="text" name="social" size='30'></dd>
      <dt>Home base:</dt>
        <dd><input type="text" name="home" size='30'></dd>
    </dl>
    <input type="submit" value="Create">
  </form>
  </body>
</html>
