<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a Band</title>
  </head>
  <body>
    <h1>New Band</h1>
    <form action="#" method="post">

    <dl>
      <dt>name: </dt>
        <dd><input type="text" size='30' name="name" required></dd>
      <dt>Bio:</dt>
        <dd><textarea name="bio" rows="5" cols="40" required></textarea></dd>
      <dt>Type of music:</dt>
        <dd><input type="radio" name="music" value="rock">Rock</dd>
        <dd><input type="radio" name="music" value="pop">Pop</dd>
        <dd><input type="radio" name="music" value="country">Country</dd>
      <dt>Pic link:</dt>
        <dd><input type="text" size='30' name="pic"></dd>
      <dt>Video link:</dt>
        <dd><input type="text" size='30' name="video"></dd>
      <dt>Track link:</dt>
        <dd><input type="text" size='30' name="track"></dd>
    </dl>
    <input type="submit" value="Create">
  </form>
  </body>
</html>
